<template>
  <div>
    <p>
      <router-link to="/">Home</router-link>
      <router-link to="/foo">Foo</router-link>
      <router-link to="/bar">Bar</router-link>
    </p>
    <router-view></router-view>
  </div>
</template>
